#!/usr/bin/make -f
#export DH_VERBOSE = 1

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
BUILD_DIR = build-qt6

%:
	dh $@

override_dh_auto_configure:
	mkdir -p $(BUILD_DIR)
	cd $(BUILD_DIR) && qmake6 $(CURDIR)/qt6integration.pro \
		PREFIX=/usr LIB_INSTALL_DIR=/usr/lib/$(DEB_HOST_MULTIARCH)

override_dh_auto_build:
	$(MAKE) -C $(BUILD_DIR) -j$(shell nproc)

override_dh_auto_install:
	$(MAKE) -C $(BUILD_DIR) install INSTALL_ROOT=$(CURDIR)/debian/tmp

override_dh_auto_clean:
	rm -rf $(BUILD_DIR) bin

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info
